.mainContainer {
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 82vh;
    display: flex;
  }

  .body {
    display: flex;
    flex-flow: row wrap;
  }

  .photo{
    flex: 1 100%;
    box-shadow: .5rem .5rem 1rem 0rem rgb(37, 37, 37);
    margin: 0rem 2rem;
    position: relative;
    min-height: 12rem;
    }


  
  .headingContainer{
    flex: 1 100%;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: bold;
    margin: 1rem 2rem 1rem 2rem;
    text-shadow: 0rem .3rem .3rem rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px .3rem .3rem rgba(0, 0, 0, 0.25));
    text-align: center;
  }
  
  .headingContainer h1 {
    margin: 0;
    padding: 0;
    font-size: calc(1.5rem + 2vw);
    font-style: italic;
  
  }
  
  .mainText {
    flex: 1 100%;
    color: white;
    padding: 0;
    margin: 1rem 2rem;
    font-weight: 400;
    font-size: calc(1rem + 1vw);
    text-align: justify;
  }
  
  
  @media all and (orientation: landscape) {

    .photo {
      flex: 1 40%;
      margin: 2rem 1rem 2rem 2rem;
      min-height: 50vh;
      max-width: 35vw;
    }
    .mainText {
      flex: 1 40%;      
    }
        
  }
  