.mainContainer {
    flex: 1 100%;
    margin: auto;
    background: #f18305;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .headingContainer{
    flex: 1 100%;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: bold;
    margin: .5rem 1.5rem;
    text-shadow: 0rem .3rem .3rem rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px .3rem .3rem rgba(0, 0, 0, 0.25));
    text-align: center;
  }
  
  .headingContainer h1 {
      margin: 0;
    padding: 0;
    font-size: calc(1.25rem + 5vw);
    font-style: italic;
  
  }
  
  .mainText {
    color: white;
    padding: 0;
    margin: 0rem 1.5rem;
    font-weight: 400;
    font-size: calc(.8rem + 1.75vw);
    text-align: justify;
  }

  .formContainer{
    flex-basis: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 0rem 1.5rem;
  }

  .questionContainer{
    display: flex;
    flex-direction: row;
    margin: 1rem auto;
    justify-content: center;
  }

  .labelContainer{
    flex: 1 100%;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .inputContainer {
    flex: 1 100%;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .inputContainer input {
    border-radius: .3rem;
    border: none;
    font-size: 1.75rem;
    width: calc(2.5rem + 76vw);
    max-width: 30rem;
  }

  .inputContainer textarea {
    width: 100%;
    font-size: 1.5rem;
  }

  .honeypot {
    display: none;
  }

  .submitButtonContainer {
    flex: 1 100%;
    display: flex;
    justify-content: flex-end;
    margin: 1rem auto;
    max-width: 28rem;

  }

  .submitButtonContainer button {
    background: black;
	color: white;
	border: none;
	padding: .4rem;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border-radius: .4rem;
    font-size: 1.5rem;
    font-weight: bold;
    filter: drop-shadow(.2rem .2rem 0rem #ffffff);
  }

  .submitButtonContainer button:active {
    filter: none;
    transform: translate(.2rem, .2rem);
  }
  
  
  @media all and (orientation: landscape) {
    .mainText {
        margin: 0rem 5rem;
    }

    .inputContainer input {
      
    }

    .formContainer {
    }
        
  }
  