.mainContainer {
    background: none;
    display: flex;
    flex-direction: column;
    min-height: 84vh;
  }
  
  .headingContainer{
    flex: 1 100%;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: bold;
    margin: 1rem 2rem .5rem 2rem;
    text-shadow: 0rem .3rem .3rem rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px .3rem .3rem rgba(0, 0, 0, 0.25));
    text-align: center;
  }
  
  .headingContainer h1 {
      margin: 0;
    padding: 0;
    font-size: calc(1.5rem + 2vw);
    font-style: italic;
  
  }

  .body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  
  .mainText {
    flex: 1 100%;
    color: white;
    padding: 0;
    margin: 0rem 2rem;
    font-weight: 400;
    font-size: calc(1rem + 1vw);
    text-align: justify;
  }

  .formContainer{
    flex: 1 100%;
    margin: 0rem auto;
    display: flex;
    flex-direction: column;
    padding: 0rem 2rem;
  }

  .formContainer p {
    color: white;
    text-align: center;
    font-size: 2rem;
  }

  .questionContainer{
    display: flex;
    flex-direction: row;
    margin: 1rem auto;
    justify-content: center;
  }

  .labelContainer{
    flex: 1 100%;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .inputContainer {
    flex: 1 100%;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .inputContainer input {
    border-radius: .3rem;
    min-width: 20rem;
    border: none;
    padding: .5rem;
  }

  .inputContainer textarea {
    padding: .5rem;
    width: 100%;
  }

  .honeypot {
    display: none;
  }

  .submitButtonContainer {
    flex: 1 100%;
    display: flex;
    justify-content: flex-end;
    margin: 1rem auto;
    max-width: 28rem;

  }

  .submitButtonContainer button {
    background: black;
	color: white;
	border: none;
	padding: .4rem;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border-radius: .4rem;
    font-size: 1.5rem;
    font-weight: bold;
    filter: drop-shadow(.2rem .2rem 0rem #ffffff);
  }

  .submitButtonContainer button:active {
    filter: none;
    transform: translate(.2rem, .2rem);
  }

  @keyframes loading {
    
  from {
    background-position: 0 0;
    /* rotate: 0; */
  }
  to {
    background-position: 100% 100%;
    /* rotate: 360deg; */
  }
}

.formContainer fieldset {
  border: 0;
    padding: 0;
}

.formContainer [disabled] {
  opacity: 0.5;
}

.formContainer [aria-busy='true']::before {
    height: 5px;
      content: '';
      display: block;
    background-size: 50% auto;
    animation: loading .75s linear infinite;
    background-image: linear-gradient(
        to right,
        #ffffff 0%,
        #002fff 50%,
        #ffffff 100%
      );
  }  

  .formContainer [aria-busy='true']::after {
    height: 5px;
      content: '';
      display: block;
    background-size: 50% auto;
    animation: loading .75s linear infinite;
    background-image: linear-gradient(
        to right,
        #ffffff 0%,
        #002fff 50%,
        #ffffff 100%
      );
  }  
  
  @media all and (orientation: landscape) {
    .mainText {
        flex: 1 40%;
        margin: 1rem auto;
        padding: 0rem 2rem 0rem 3rem;
    }
    .formContainer {
      flex: 1 32%;
      align-items: flex-start;
    }
        
  }
  