.mainContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background: #000000;
    padding: 1rem 1rem .5rem 1rem;
    margin: auto;
    position: sticky;
    top: 0rem;
z-index: 10;

}

.logoContainer{
    flex: 1 80%;
    display: flex;
    flex-flow: row wrap;
}

.logo{
    flex: 1 100%;
}

.phone {
    flex: 1 100%;
    color: white;
    font-size: calc(1rem + 2vw);
    font-weight: bold;
    text-align: center;
    margin-top: .5rem;
}


.button{
    flex: 1 20%;
    display:flex;
    justify-content: flex-end;
}

@media all and (orientation: landscape) {
    
    .logoContainer{
        flex: 1 90%;
        padding-bottom: .5rem;
    }
    .logo {
        flex: 1 50%;
    }
    .phone {
        flex: 1 50%;
        margin: 0rem;
        font-size: calc(.5rem + 2.5vw);
        line-height: 90%;

    }
    .button{
        flex: 1 10%;
    }
  }