.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #000000;
    padding: 20px;
}

.logo{
    flex: 1 80%;
    display: block;
    color: white;
    text-align: center;
}

.logo p {
    font-size: calc(10px + 3vw);
    margin: 0px;
    padding: 5px 0px 0px 0px;
    font-weight: bold;
}


.button{
    flex: 1 20%;
    display:flex;
    width: 50px;
    justify-content: flex-end;
}

@media all and (orientation: landscape) {
    
  }