.mainContainer {
  min-height: calc(100vh - 150px);
  background: #F7931D;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.mainPhoto{
 flex: 1;
  position: relative;
}

.tagline{
  flex: 1;
  color: white;
  text-align: center;
  border-top: solid white 3px;
  border-bottom: solid white 3px;
}
