.mainContainer {
  flex: 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   overflow: hidden;
  }
  
  .navigationContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 2rem;
  }
  
  .navigationContainer button {
    background: none;
    border: none;
    border-radius: 0.3rem;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 2rem;
    font-weight: 800;
    color: white;
  }
  
  .navigationContainer button:active {
    color: darkslategrey;
    transform: translate(0.1rem, 0.1rem);
  }
  
  .slideInFromLeft {
    width: 100%;
    height: 100%;
    transform: translateX(-125%);
    animation-duration: 1s;
    animation-name: slideInFromLeft;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }
  
  .slideOutToRight {
    width: 100%;
    height: 100%;
    animation-duration: 1s;
    animation-name: slideOutToRight;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }
  
  .slideInFromRight {
    width: 100%;
    height: 100%;
    transform: translateX(125%);
    animation-duration: 1s;
    animation-name: slideInFromRight;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }
  
  .slideOutToLeft {
    width: 100%;
    height: 100%;
    animation-duration: 1s;
    animation-name: slideOutToLeft;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }
  
  @keyframes slideInFromLeft {
    from {
      transform: translateX(-125%);
    }
  
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOutToRight {
    from {
      transform: translateX(0);
    }
  
    to {
      transform: translateX(125%);
    }
  }
  
  @keyframes slideInFromRight {
    from {
      transform: translateX(125%);
    }
  
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOutToLeft {
    from {
      transform: translateX(0);
    }
  
    to {
      transform: translateX(-125%);
    }
  }
  