.mainContainer {
    position: fixed;
    top: 0rem;
    left: 0rem;
    width: 100vw;
    height: 100vh;
    background: black;
    backdrop-filter: blur(0.05rem);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;    
  }
  
  .imageContainer {
   position: relative;
   margin-top: 5rem;
   width: 75vw;
   height: 75vh;
   align-self: center;
  }

  