.mainContainer {
    display: flex;
    flex-flow: row wrap;
    margin: 0rem;
    justify-content: center;
}

.photo{
  flex: 1 100%;
  box-shadow: .5rem .5rem 1rem 0rem rgb(37, 37, 37);
  margin: 0rem 4rem 1rem 4rem;
  position: relative;
  min-height: 12rem;
  }

  .quote {
    flex: 1 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .stars {
    display: flex;
    width: 15rem;
    margin: 1rem 0rem;
    flex-direction: row;
    justify-content: space-between;
 }

  .quote p {
        color: white;
      text-align: center;
      font-size: 1.5rem;
      padding: 0rem;
      margin: 0rem 2rem .5rem 2rem;
      font-style: italic;
      text-shadow: 0rem .3rem .3rem rgba(0, 0, 0, 0.25);
    }

    .author {
      flex: 1 100%;
      width: 100%;
      display: flex;
      justify-content: center;
    }

  .author p {
      color: white;
      font-size: calc(1rem + 2vw);
      padding: 0rem;
      margin: 0rem;
      font-style: italic;
      text-shadow: 0rem .3rem .3rem rgba(0, 0, 0, 0.25);
  }

  @media all and (orientation: landscape) {
    .mainContainer {
      margin: 0rem 4rem 1.5rem 4rem;
    }
    .photo {
      flex: 1 40%;
      margin: 0rem;
      max-height: 30vh;
      max-width: 25vw;
    }

    .quote {
      flex: 1 60%;
    }
    
    .quote p {
    text-align: left;
    
  }

  
  .author p {
    font-size: 1.5rem;
}
  }
