.mainContainer {
    display: flex;
    flex-direction: column;
}

.header {
    margin: 0rem 2rem 1.5rem 2rem;
    transform: skew(-18deg);
    padding: 0rem;
}
.header h2 {
    text-align: center;
    color: #f18305;
    font-size: calc(1rem + 1.75vw);
    background: white;
    padding: .5rem;
    margin: .4rem 0rem .4rem 0rem;

}

.rectangle {
    height: .3rem;
    background: white;

}