.mainContainer {
    flex: 1 100%;
    margin: auto;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .headingContainer{
    flex: 1 100%;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: bold;
    margin: 1rem 2rem .5rem 2rem;
    text-shadow: 0rem .3rem .3rem rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px .3rem .3rem rgba(0, 0, 0, 0.25));
    text-align: center;
  }
  
  .headingContainer h1 {
    margin: 0;
    padding: 0;
    font-size: calc(1.5rem + 2vw);
    font-style: italic;
  
  }
  
  .mainText {
    flex: 1 100%;
    color: white;
    padding: 0;
    margin: 0rem 2rem;
    font-weight: 400;
  font-size: calc(1rem + 1vw);
    text-align: justify;
  }
  
  
  @media all and (orientation: landscape) {
    .mainText {
        margin: 0rem 5rem;
    }
        
  }
  