.mainContainer {
    display: flex;
    flex-direction: column;
}

.headingContainer {
    margin: 1.5rem 2rem;
    transform: skew(-18deg);
    padding: 0rem;
}

.headingContainer h2 {
    text-align: center;
    color: var(--main-bg-color);
    font-size: calc(1rem + 1.75vw);
    background: white;
    padding: .35rem;
    margin: .4rem 0rem .4rem 0rem;
}

.rectangle {
    height: .3rem;
    background: white;

}
  
.bodyContainer {
    display: flex;
    flex-direction: row;
    margin: .5rem 2rem 1rem 2rem;
}

.imageContainer {
    flex: 1 50%;
    position: relative;
    display: flex;
    justify-content: center;
    box-shadow: .5rem .5rem 1rem 0rem rgb(37, 37, 37);
    
}

.textContainer {
    flex: 1 50%;
    margin-left: 1.5rem;
}

.textContainer p {
    color: white;
    font-weight: 400;
    font-size: calc(1rem + 1vw);
    margin: 0;
    padding: 0;
}

@media all and (orientation: landscape) {
    .headingContainer {
        margin: 1.5rem 5rem;
    }

    .bodyContainer {
        display: flex;
        flex-direction: row;
        margin: .5rem 5rem 2rem 5rem;
    }

    .imageContainer {
        min-height: 15vw;
        max-width: 25vw;
    }
     
    .textContainer {
        padding: 0rem 1.5rem;
    }
}